name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix-build
    - run: nix-shell --command 'pytest -v tests/ acceptance_tests'
    - run: |
        nix-env -if default.nix && nix-shell -p bats --command './acceptance_tests/test_command.sh'
